.rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem auto 3rem auto;
}

.rooms header p {
    text-align: center;
    font-size: 1.8rem;
}

.rooms header p:nth-child(3) {
    font-weight: bold;
}

.rooms .roomInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}     



