/*************** RESET **********/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --purple: #76259e;
  --yellow: #ffd700;
  --white: #ffffff;
  --main-text: #45056a;
  
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-size: 1.6rem;
}

